<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>New Vendor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>New Order Entry</h1>
        <p>Please enter the below information for this new order:</p>
        <form action="/vendor/@Model.Id/order" method="post">
            <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
            <div class="form-group">
                <label for="orderName">Enter Order Name or Number:</label>
                <input id="orderName" name="orderName" type="text">
            </div>

            <div class="form-group">
                <label for="deliveryDate">Enter a Delivery Date:</label>
                <input id="deliveryDate" name="deliveryDate" type="date">
            </div>

            <div class="form-group">
                <label for="breadCount">Number of Breads:</label>
                <input id="breadCount" name="breadCount" type="text">
            </div>

            <div class="form-group">
                <label for="pastryCount">Number of Pastries:</label>
                <input id="pastryCount" name="pastryCount" type="text">
            </div>

            <button class="btn btn-primary" type="submit">Create Order</button>
        </form>
    </div>
</body>

</html>