<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" media="screen" href="~/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to EpiDOUGHdus' New Website!</h1>
            <a href="/vendor/new"><button class="btn btn-primary" type="click" name="button">Vendors Portal</button></a>
            <a href="/order"><button class="btn btn-primary" type="click" name="button">Only Click This Button If You're Pierre</button></a>  
        </div>
    </body>
</html>