body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: whitesmoke;
    font-size: 42px;
    text-shadow: 3px 3px 5px #000000;
    margin-bottom: 40px;
}

h2, h3, h4 {
    color: whitesmoke;
    text-shadow: 3px 3px 5px #000000;
}

p {
    font-size: 20px;
    color: whitesmoke;
    text-shadow: 3px 3px 5px #000000;
}

label {
    color: whitesmoke;
    text-shadow: 3px 3px 5px #000000;
}

button {
    color: whitesmoke;
    text-shadow: 3px 3px 5px #000000;
    margin-top: 20px;
    background-color: rgba(51, 51, 153, 0.5);
}

a:hover {
  color: yellow;
}

a {
    color: whitesmoke;
    text-shadow: 3px 3px 5px #000000;
    font-size: 24px;
}

.labels {
    color: yellow;
}

.header {
    
    background: rgba(51, 51, 153, 0.5);
    height: 100px;
    border-radius: 8px;
    margin-bottom: 60px;
}

.header h1 {
    font-family: 'Monoton', cursive;
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
}